___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2
# 4 mod 2 gives you the remainder when 4 is divided by 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
# this is the naming convention
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [24]:
z

5

In [32]:
myVar = 4

In [33]:
myVar += 4

In [34]:
myVar

8

### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [15]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [18]:
'this is a "string"'

'this is a "string"'

In [21]:
print('this is a "string" that I am printing')

this is a "string" that I am printing

In [23]:
# print("this is a "string" that I am printing")
# open and close with the same quote style

### Printing

In [35]:
x = 'hello'

In [36]:
x

'hello'

In [37]:
print(x)

hello

In [39]:
num = 12
name = 'Sam'

String formatting

In [40]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [43]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [44]:
name = 'Seth Woo'

In [45]:
age = 24

In [47]:
print('My name is {} and I am {} years old.'.format(name,age))
# order is important here

My name is Seth Woo and I am 24 years old.

In [48]:
print('My name is {first} and I am {second} years old.'.format(second=age,first=name))
# labelling is important here

My name is Seth Woo and I am 24 years old.

### Lists

In [49]:
[1,2,3]

[1, 2, 3]

In [50]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [51]:
my_list = ['a','b','c']

In [52]:
my_list.append('d')

In [53]:
my_list

['a', 'b', 'c', 'd']

In [54]:
my_list[0]

'a'

In [55]:
my_list[1]

'b'

In [56]:
my_list[1:]
#start from index 1 and take everything else

['b', 'c', 'd']

In [57]:
my_list[:1]
#take everything else before index 1 (up to but not including index 1)

['a']

In [58]:
my_list[0] = 'NEW'

In [59]:
my_list

['NEW', 'b', 'c', 'd']

In [60]:
nest = [1,2,3,[4,5,['target']]]

In [61]:
nest[3]

[4, 5, ['target']]

In [62]:
nest[3][2]

['target']

In [64]:
nest[3][2][0]

'target'

Practice on String Slicing

In [65]:
username = 'woowaihong'

In [66]:
print(username[3:])

waihong

In [67]:
print(username[:3] + username[6:])

woohong

In [68]:
print(username[3:6])

wai

In [69]:
listB = [1,2,3,'tax',[1,2,3,['taxation']]] #working with nested lists

In [70]:
print(listB[3:])

['tax', [1, 2, 3, ['taxation']]]

In [71]:
print(listB[4][3])

['taxation']

In [72]:
print(listB[4][3][0])

taxation

In [87]:
print(listB[4][3][0][3:6])

ati

In [88]:
listB[4] = 'changed_man'

In [89]:
listB

[1, 2, 3, 'tax', 'changed_man']

### Dictionaries

In [74]:
d = {'key1':'item1','key2':'item2'}

In [75]:
d

{'key1': 'item1', 'key2': 'item2'}

In [79]:
d['key1'] #this is how you access dictionary objects a.k.a value using the key

'item1'

In [80]:
new_dict = {
    'name':'sethwoo',
    'age': 24,
    'lucky_numbers':[1,2,3]
}

In [81]:
print(new_dict['name'])

sethwoo

In [82]:
print(new_dict['age'])

24

In [83]:
print(new_dict['lucky_numbers'])

[1, 2, 3]

In [85]:
print(new_dict['lucky_numbers'][1]) #interesting

2

In [90]:
print(new_dict)

{'name': 'sethwoo', 'age': 24, 'lucky_numbers': [1, 2, 3]}

In [92]:
new_dict['name'] = 'keithwoo'

In [98]:
print(new_dict)

{'name': 'keithwoo', 'age': 24, 'lucky_numbers': [1, 2, 3]}

Nested Dictionaries

In [101]:
new_dict2 = {
    'name':'sethwoo',
    'age': 24,
    'lucky_numbers':[1,2,3],
    'mini_dict':{'innerkey':[4,5,6]}
}
#dont forget the commas

In [102]:
print(new_dict2['mini_dict']['innerkey'][2])

6

### Booleans

In [77]:
True

True

In [94]:
False

False

In [95]:
bool_1 = True

In [96]:
bool_2 = False

In [97]:
print(bool_1 == bool_2)

False

### Tuples

In [103]:
t = (1,2,3)

In [104]:
t[0]

1

In [106]:
# t[0] = 'NEW'
#tuples are immutable. lists are mutable. (think of appropriate use cases)

### Sets

In [107]:
{1,2,3}

{1, 2, 3}

In [109]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
#set only takes in unique elements

{1, 2, 3}

In [110]:
set([3,3,3,3,3,3,4,4,4,4,5,5,5,5])

{3, 4, 5}

In [111]:
s = {4,5,6}

In [112]:
s.add(7)

In [113]:
s

{4, 5, 6, 7}

In [114]:
s.add(7)
#adding 7 does not change anything as 7 is already in the set

In [115]:
s

{4, 5, 6, 7}

## Comparison Operators

In [116]:
1 > 2

False

In [117]:
1 < 2

True

In [118]:
1 >= 1

True

In [119]:
1 <= 4

True

In [120]:
1 == 1

True

In [122]:
'hi' == 'bye'

False

In [124]:
'momo' != 'momo'

False

In [126]:
first_player = 'king'
second_player = 'king'

In [127]:
first_player == second_player

True

## Logic Operators

In [128]:
(1 > 2) and (2 < 3) #false and true makes false

False

In [129]:
(1 > 2) or (2 < 3) #false or true makes true

True

In [130]:
(1 == 2) or (2 == 3) or (4 == 4) #false or false or true = false or true = true

True

## if,elif, else Statements

In [131]:
if 1 < 2:
    print('Yep!')

Yep!

In [132]:
if 1 < 2:
    print('yep!')

yep!

In [133]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [134]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [136]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [142]:
if 1 > 3:
    print("you are beautiful")
elif 3 > 4:
    print("you are amazing")
else:
    print("you are terrible")

you are terrible

In [144]:
if 2 != 2: 
    print("hello")
elif 2 == 3:
    print("how")
elif 3 == 3:
    print("are")
elif 4 == 4:
    print("you")
else:
    print("today?")

are

## for Loops

In [138]:
seq = [1,2,3,4,5]

In [139]:
for item in seq:
    print(item)

1
2
3
4
5

In [140]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [145]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [147]:
listA = [1,2,3,4]
listB = [5,6,7,8]
for i in range(len(listA)):
    for j in range(len(listB)):
        print(listA[i] + listB[j])

6
7
8
9
7
8
9
10
8
9
10
11
9
10
11
12

In [149]:
for i in range(len(listA)):
    print(listA[i] + listB[i])

6
8
10
12

## while Loops

In [154]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [156]:
starting_num = 1
while starting_num <= 10:
    print("The square of " + str(starting_num) + " is " + str(starting_num**starting_num))
    starting_num += 1

The square of 1 is 1
The square of 2 is 4
The square of 3 is 27
The square of 4 is 256
The square of 5 is 3125
The square of 6 is 46656
The square of 7 is 823543
The square of 8 is 16777216
The square of 9 is 387420489
The square of 10 is 10000000000

## range()

In [151]:
range(5) #a generator of numerical values

range(0, 5)

In [152]:
for i in range(5):
    print(i)

0
1
2
3
4

In [157]:
list(range(5)) #similar to set function creating a set, list function creates a list

[0, 1, 2, 3, 4]

In [159]:
for i in range(1,10): #start, stop(up to but not including)
    print(i)

1
2
3
4
5
6
7
8
9

In [160]:
for i in range(1, 10, 2): #start, stop, step
    print(i)

1
3
5
7
9

## list comprehension

In [163]:
x = [1,2,3,4]

In [164]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

ShortHand Notation

In [248]:
[item**2 for item in x]

[1, 4, 9, 16]

list comprehension always returns a list so if you're not concerned about returning values, as in the case of printing something, then the more traditional function definition is better

In [167]:
input_list = [1,2,3,4,5]
output_list = [number+1 for number in input_list]
print(output_list)

[2, 3, 4, 5, 6]

## functions

In [168]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [169]:
my_func

In [170]:
my_func()

default

In [171]:
my_func('new param')

new param

In [172]:
my_func(param1='new param')

new param

In [173]:
def square(x):
    return x**2

In [174]:
out = square(2)

In [176]:
print(out)

4

In [177]:
def add_two(num1,num2):
    print(num1 + num2)

In [179]:
add_two(1,2)

3

In [184]:
def operation(num1,num2):
    difference = num1 - num2
    if difference >= 0:
        print(difference)
operation(3,2)

1

In [189]:
def printer(some_var="sethwoo"):
    print('Hello ' + str(some_var))
printer() 
#sethwoo is the default value if no parameter is provided

Hello sethwoo

## lambda expressions

In [197]:
def times2(var):
    """
    This is a docstring
    Can go multiple lines 
    This function squares a number
    """
    return var*2

In [192]:
times2(2)

4

In [194]:
output = times2(6)

In [203]:
print(output)

12

# Lambda Expressions (Anonymous Functions)
shorthand notation for defining functions

In [204]:
lambda var: var*2

In [205]:
def square(a):
    return a**2

In [207]:
output2 = square(4)

In [209]:
print(output2)

16

In [215]:
lambda num: num**2

In [216]:
(lambda num: num**2)(4)

16

## map and filter

map applies a function/lambda expression to every element in a sequence but filter, filters out elements from a sequence based on a function/lambda expression that returns a Boolean value based on some condition.

In [199]:
seq = [1,2,3,4,5]

In [200]:
map(times2,seq)

In [201]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [202]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [217]:
filter(lambda item: item%2 == 0,seq) #extract even numbers only

In [218]:
list(filter(lambda item: item%2 == 0,seq)) #save into a list

[2, 4]

## methods

In [219]:
st = 'hello my name is Sam'

In [220]:
st.lower()

'hello my name is sam'

In [221]:
st.upper()

'HELLO MY NAME IS SAM'

In [222]:
st.split() #by default, it will split the string by the whitespaces

['hello', 'my', 'name', 'is', 'Sam']

In [223]:
tweet = 'Go Sports! #Sports'

In [224]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [229]:
tweet.split('#')[1]

'Sports'

In [231]:
tweet.split('!')

['Go Sports', ' #Sports']

In [232]:
tweet.split('o')

['G', ' Sp', 'rts! #Sp', 'rts']

In [233]:
d

{'key1': 'item1', 'key2': 'item2'}

In [227]:
d.keys()

dict_keys(['key1', 'key2'])

In [235]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [236]:
d.values()

dict_values(['item1', 'item2'])

In [237]:
lst = [1,2,3]

In [242]:
lst.pop() #pop is permanent. It returns the last item of the list (by default)

2

In [247]:
listK = [1,2,3,4,5]
someVal = listK.pop(2) #we can specify which item we wanna pop
print(someVal)
print()

3

In [239]:
lst

[1, 2]

In [240]:
'x' in [1,2,3]

False

In [249]:
'x' in ['x','y','z']

True

In [250]:
x = [(1,2),(3,4),(5,6)]

In [251]:
x[0]

(1, 2)

In [254]:
x[0][1]

2

In [255]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

tuple unpacking

In [256]:
for a,b in x:
    print(b)

2
4
6

In [257]:
for a,b in x:
    print(a)

1
3
5

# Great Job!